htm, body {
	height:100%;	
}
dl, dd, dt, ul, li {
	margin:0;
	padding:0;
	list-style:none;
	color:#666666;
}
.sidebar {
	width:213px;
	text-align:left;
	font-size:12px;
	background:#2b303e;
	height:100%;
	border-right:1px solid #eeeeee;
}
.menutitle {
	border-bottom:1px solid #3b3f4d;
	height:40px;
	line-height:40px;
	width:213px;
	text-align:center;
	font-size:18px;
	color:#989dac;
	font-weight: 800;
}
.menutitle img {
	display:inline-block;
	margin-right:5px;
	margin-top:-2px;
}
ul.framenav li a {
	padding:14px 10px;
	color: #989dac;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	border-left:4px solid #2b303e;
	border-right:4px solid #2b303e;
}
ul.framenav>li {
	clear:both;
	overflow: hidden;
}
ul.framenav>li>a.a_selected, ul.framenav>li>a.a_hover {
	color:#0099FF;
	border-left:4px solid #3999d7;
}
ul.framenav li a.a_selected span, ul.framenav li a.a_hover span {
	color:#fff;
}
ul.framenav ul {
	margin: 0;
	padding:5px 0;
	display: none;
	width:100%
}
ul.framenav ul ul {
	padding:0;
	border-bottom:none;
}
ul.framenav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
ul.framenav ul li a {
	padding-left: 2em;
	font-size: 12px;
	font-weight: normal;
	border:none;
	line-height:30px;
	height:30px;
	border-left:4px solid #2b303e;
	border-right:4px solid #2b303e;
}
ul.framenav ul ul li a {
	color:#919191;
	padding-left: 4em;
	border:none;
	line-height:30px;
	height:30px;
	border-left:4px solid #2b303e;
	border-right:4px solid #2b303e;
}
ul.framenav>li>ul>li>a.a_selected, ul.framenav>li>ul>li>a.a_hover, ul.framenav>li>ul>li>ul>li>a.a_selected, ul.framenav>li>ul>li>ul>li>a.a_hover {
	color:#3999d7;
}
ul.framenav>li>ul>li>a.a_selected span, ul.framenav>li>ul>li>a.a_hover span {
	color:#000;
}
ul.framenav span {
	float:right;
	padding: 1px 4px;
	color: #989dac;
	font-weight:bold;
}
