.iamge_div {
	margin : 0px 10px 10px 0px;
	float : left;
	
}
.image_operating_table {
	margin-top:5px;
}

.image_operating_table td{
	text-align : center!important;
	border : 0px!important;
}

#sortable li {
	float : left;
}

