<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.shopee.dao.ShopeeCategoryDao">  
     
    <insert id="insertShopeeCategory" parameterType="ShopeeCategory" useGeneratedKeys="true" keyProperty="id">  
        insert into shopee_category (
        	categoryName,
        	parentId,
        	level,
        	categoryId,
        	importTime
        ) values(
        	#{categoryName},
        	#{parentId},
        	#{level},
        	#{categoryId},
        	#{importTime}
        )  
    </insert>
    
    <select id="getCategoryByNameAndParentId" resultType="ShopeeCategory">
    	select * from shopee_category where categoryName = #{categoryName} and parentId = #{parentId}
    </select>
    
    
    <delete id="deleteAllCategory">  
        delete from shopee_category
    </delete>  
    
    <select id="getCategoryPage" resultType="hashMap" parameterType="Page">
    	select t.categoryName as firstCategory, 
    			tt.categoryName as subcategory, 
    				ttt.categoryName as thirdCategory, 
    					ttt.categoryId, ttt.importTime as importTime from 
    					(select * from shopee_category where parentId = 0) t
							LEFT JOIN shopee_category tt on t.id = tt.parentId
								LEFT JOIN shopee_category ttt on tt.id = ttt.parentId
		<where>
			<choose>
				<when test="params.categoryQuery!=null and params.categoryQuery!='' ">
					and t.categoryName like CONCAT('%','${params.categoryQuery}','%')
					or tt.categoryName like CONCAT('%','${params.categoryQuery}','%')
					or ttt.categoryName like CONCAT('%','${params.categoryQuery}','%') 
					or ttt.categoryId like CONCAT('%','${params.categoryQuery}','%') 
				</when>
	   		</choose>
		
			<choose>
				<when test="params.firstCategoryLike!=null and params.firstCategoryLike!='' ">
					and t.categoryName like CONCAT('%','${params.firstCategory}','%')  
				</when>
				<when test="params.firstCategory !=null and params.firstCategory !=''">
					and t.categoryName = #{params.firstCategory}
				</when>
	   		</choose>
	   		
	   		<choose>
				<when test="params.subcategoryLike!=null and params.subcategoryLike!='' ">
					and tt.categoryName like CONCAT('%','${params.subcategory}','%')  
				</when>
				<when test="params.subcategory !=null and params.subcategory !=''">
					and tt.categoryName = #{params.subcategory}
				</when>
	   		</choose>
	   		
	   		<choose>
				<when test="params.thirdCategoryLike!=null and params.thirdCategoryLike!='' ">
					and ttt.categoryName like CONCAT('%','${params.thirdCategory}','%')  
				</when>
				<when test="params.thirdCategory !=null and params.thirdCategory !=''">
					and ttt.categoryName = #{params.thirdCategory}
				</when>
	   		</choose>
	   		
	   		<choose>
				<when test="params.categoryIdLike!=null and params.categoryIdLike!='' ">
					and ttt.categoryId like CONCAT('%','${params.categoryId}','%')  
				</when>
				<when test="params.categoryId !=null and params.categoryId !=''">
					and ttt.categoryId = #{params.categoryId}
				</when>
	   		</choose>
		</where>
    </select>
    
    <select id="getShopeeCategoryByParentId" parameterType="int" resultType="ShopeeCategory">
    	select * from shopee_category where parentId = #{parentId} order by categoryName
    </select>
    
    <select id="getShopeeCategoryById" parameterType="int" resultType="ShopeeCategory">
    	select * from shopee_category where id = #{id}
    </select>
    
    <select id="getShopeeCategoryByCategoryId" parameterType="int" resultType="ShopeeCategory">
    	select * from shopee_category where categoryId = #{categoryId}
    </select>
    
    <select id="getDistinctCategoryName" resultType="string">
    	select distinct categoryName from shopee_category
    </select>
    
    <update id="updateCategoryToCn">
    	update shopee_category set categoryName = #{value} where categoryName = #{categoryNameEn}
    </update>
       
</mapper>  