<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.shopee.dao.ShopeePublishDao">  

	<select id="getShopeePublishManagePage" parameterType="Page" resultType="hashMap">
		select t.* from shopee_publish t
		<where>
			<if test="params._roleLevel &lt; 10" >
				and t.publishUserId = #{params._userId}
	   		</if>
		</where>
	</select>
     
    <select id="getUserShopeeSkuCount" parameterType="int" resultType="int">
	   	select count(1) from (
	    	select * from product where publishUserId = #{userId} and sku not in 
	    		(select sku from shopee_publish)
	    ) t
    </select>
    
    <select id="getShopeeSkuList" parameterType="int" resultType="Product">
    	select * from product where publishUserId = #{userId} and sku not in 
	    		(select sku from shopee_publish)
    </select>
    
    <insert id="insertShopeePublish" parameterType="ShopeePublish">
    	insert into shopee_publish (
    		sku,
    		parentSku,
    		categoryPath,
    		categoryId,
    		productName,
    		price,
    		stock,
    		weight,
    		shipOutIn,
    		brand,
    		description,
    		status,
    		publishUserId,
    		mainImage,
    		imageStr
    	) values (
    		#{sku},
    		#{parentSku},
    		#{categoryPath},
    		#{categoryId},
    		#{productName},
    		#{price},
    		#{stock},
    		#{weight},
    		#{shipOutIn},
    		#{brand},
    		#{description},
    		#{status},
    		#{publishUserId},
    		#{mainImage},
    		#{imageStr}
    	)
    </insert>
    
    <delete id="deleteShopeeProduct" parameterType="int">
    	delete from shopee_publish where id = #{id}
    </delete>
    
    <select id="getShopeePublishById" parameterType="int" resultType="ShopeePublish">
    	select * from shopee_publish where id = #{id}
    </select>
    
    <update id="updateShopeePublish" parameterType="ShopeePublish">
    	update shopee_publish 
    	<set>
       		<if test="sku !=null and sku !=''">
				sku = #{sku},
			</if>
			<if test="parentSku !=null and parentSku !=''">
				parentSku = #{parentSku},
			</if>
			<if test="categoryPath !=null and categoryPath !=''">
				categoryPath = #{categoryPath},
			</if>
			<if test="categoryId !=null and categoryId !=''">
				categoryId = #{categoryId},
			</if>
			<if test="productName !=null and productName !=''">
				productName = #{productName},
			</if>
			<if test="price !=null and price !=''">
				price = #{price},
			</if>
			<if test="stock !=null and stock !=''">
				stock = #{stock},
			</if>
			<if test="weight !=null and weight !=''">
				weight = #{weight},
			</if>
			<if test="shipOutIn !=null and shipOutIn !=''">
				shipOutIn = #{shipOutIn},
			</if>
			<if test="brand !=null and brand !=''">
				brand = #{brand},
			</if>
			<if test="description !=null and description !=''">
				description = #{description},
			</if>
			<if test="status !=null and status !=''">
				status = #{status},
			</if>
			<if test="publishUserId !=null and publishUserId !=''">
				publishUserId = #{publishUserId},
			</if>
			<if test="mainImage !=null and mainImage !=''">
				mainImage = #{mainImage},
			</if>
			<if test="imageStr !=null and imageStr !=''">
				imageStr = #{imageStr},
			</if>
       	</set>
        where id = #{id}   
    </update>
    
</mapper>