<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.shopee.dao.ShopeePublishDao">  

	<select id="getShopeePublishManagePage" parameterType="Page" resultType="hashMap">
		select t.* from shopee_publish t
		<where>
			<if test="params._roleLevel &lt; 10" >
				and t.publishUserId = #{params._userId}
	   		</if>
		</where>
	</select>
     
    <select id="getUserShopeeSkuCount" parameterType="int" resultType="int">
	   	select count(1) from (
	    	select * from product where publishUserId = #{userId} and sku not in 
	    		(select sku from shopee_publish)
	    ) t
    </select>
    
    <select id="getShopeeSkuList" parameterType="int" resultType="Product">
    	select * from product where publishUserId = #{userId} and sku not in 
	    		(select sku from shopee_publish)
    </select>
    
    <insert id="insertShopeePublish" parameterType="ShopeePublish">
    	insert into shopee_publish (
    		sku,
    		parentSku,
    		categoryPath,
    		categoryId,
    		productName,
    		price,
    		stock,
    		weight,
    		shipOutIn,
    		brand,
    		description,
    		status,
    		publishUserId,
    		mainImage
    	) values (
    		#{sku},
    		#{parentSku},
    		#{categoryPath},
    		#{categoryId},
    		#{productName},
    		#{price},
    		#{stock},
    		#{weight},
    		#{shipOutIn},
    		#{brand},
    		#{description},
    		#{status},
    		#{publishUserId},
    		#{mainImage}
    	)
    </insert>
    
    <delete id="deleteShopeeProduct" parameterType="int">
    	delete from shopee_publish where id = #{id}
    </delete>
    
</mapper>