<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.dataCollection.dao.DataCollectionDao">  
     
    <insert id="insertDataCollection" parameterType="AliProduct" useGeneratedKeys="true" keyProperty="id">  
        insert into aliProduct (
        	name,
        	nameCn,
        	url,
        	iconClass,
        	isParent,
        	parentId,
        	sort
        ) values(
        	#{name},
        	#{nameCn},
        	#{url},
        	#{iconClass},
        	#{isParent},
        	#{parentId},
        	#{sort}
        )  
    </insert>
    
</mapper>  