<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.dataCollection.dao.DataCollectionDao">  
     
    <insert id="insertDataCollection" parameterType="DataCollection" useGeneratedKeys="true" keyProperty="id">  
        insert into data_collection (
        	sku,
        	spu,
        	status,
        	url,
        	color,
        	size,
        	imageUrl,
        	canBookCount,
        	beginAmount,
        	price,
        	weight,
        	freight,
        	collectionTime,
        	unit
        ) values(
       		#{sku},
        	#{spu},
        	#{status},
        	#{url},
        	#{color},
        	#{size},
        	#{imageUrl},
        	#{canBookCount},
        	#{beginAmount},
        	#{price},
        	#{weight},
        	#{freight},
        	#{collectionTime},
        	#{unit}
        )  
    </insert>
    
    <select id="getCollectionPage" resultType="hashMap" parameterType="Page">
    	select * from data_collection t
    	<where>
	    	<choose>
				<when test="params.skuLike!=null and params.skuLike!='' ">
					and t.sku like CONCAT('%','${params.sku}','%')  
				</when>
				<when test="params.sku!=null and params.sku!=''">
					and t.sku = #{params.sku}
				</when> 		
	   		</choose>
	   		<choose>
				<when test="params.spuLike!=null and params.spuLike!='' ">
					and t.spu like CONCAT('%','${params.spu}','%')  
				</when>
				<when test="params.spu!=null and params.spu!=''">
					and t.spu = #{params.spu}
				</when>
	   		</choose>
	   		<if test="params.status !=null and params.status !=''">
	 			and t.status = #{params.status}
	   		</if>
	   		<if test="params.collectionTimeFrom !=null and params.collectionTimeFrom !=''" >
	   			<![CDATA[ and t.collectionTime >= #{params.collectionTimeFrom} ]]>
	   		</if>
	   		<if test="params.collectionTimeTo !=null and params.collectionTimeTo!=''" >
	   			<![CDATA[ and t.collectionTime <= #{params.collectionTimeTo} ]]>
	   		</if>
   		</where>
   		order by t.id desc
    </select>
    
    <delete id="deleteDataCollectionById" parameterType="int">
    	delete from data_collection where id = #{id}
    </delete>
    
    <select id="getDataCollectionById" parameterType="int" resultType="DataCollection">
    	select * from data_collection where id = #{id}
    </select>
    
    <select id="getDataCollectionListByUrl" parameterType="string" resultType="DataCollection">
    	select * from data_collection where url = #{url}
    </select>
    
    <update id="updateDataCollection" parameterType="DataCollection">
    	update data_collection 
    	<set>
       		<if test="sku !=null and sku !=''">
				sku = #{sku},
			</if>
			<if test="spu !=null and spu !=''">
				spu = #{spu},
			</if>
			<if test="status !=null and status !=''">
				status = #{status},
			</if>
			<if test="url !=null and url !=''">
				url = #{url},
			</if>
			<if test="color !=null and color !=''">
				color = #{color},
			</if>
			<if test="size !=null and size !=''">
				size = #{size},
			</if>
			<if test="imageUrl !=null and imageUrl !=''">
				imageUrl = #{imageUrl},
			</if>
			<if test="canBookCount !=null and canBookCount !=''">
				canBookCount = #{canBookCount},
			</if>
			<if test="beginAmount !=null and beginAmount !=''">
				beginAmount = #{beginAmount},
			</if>
			<if test="price !=null and price !=''">
				price = #{price},
			</if>
			<if test="weight !=null and weight !=''">
				weight = #{weight},
			</if>
			<if test="freight !=null and freight !=''">
				freight = #{freight},
			</if>
			<if test="collectionTime !=null and collectionTime !=''">
				collectionTime = #{collectionTime},
			</if>
			<if test="unit !=null and unit !=''">
				unit = #{unit},
			</if>
       	</set>
        where id = #{id}   
    </update>
    
</mapper>  