<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
    <typeAliases>  
        <typeAlias alias="User" type="com.module.system.model.User" />
        <typeAlias alias="Role" type="com.module.system.model.Role" />
        <typeAlias alias="Navigator" type="com.frame.model.Navigator" />
        <typeAlias alias="Product" type="com.module.product.model.Product" />
        <typeAlias alias="Page" type="com.code.Page" />
    </typeAliases> 
    
    <plugins><plugin interceptor="com.code.PageInterceptor"/></plugins> 
    <mappers>  
        <mapper resource="com/module/system/mapper/UserMapper.xml" />
        <mapper resource="com/module/system/mapper/RoleMapper.xml" />
        <mapper resource="com/module/product/mapper/ProductMapper.xml" />
        <mapper resource="com/frame/mapper/NavigatorMapper.xml" />
    </mappers> 
</configuration>    