<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
    <typeAliases>  
    	<typeAlias alias="Page" type="com.code.Page" />
    	<typeAlias alias="Navigator" type="com.module.frame.model.Navigator"/>
    	<package name="com.module.product.model"/>
    	<package name="com.module.shopee.model"/>
    	<package name="com.module.system.model"/>
    </typeAliases> 
    
    <plugins><plugin interceptor="com.code.PageInterceptor"/></plugins> 
</configuration>    