<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.system.dao.UserDao">  
     
    <insert id="insertUser" parameterType="User">  
        insert into user (
        	userName,
        	password,
        	phone,
        	name,
        	email,
        	status,
        	log,
        	createTime,
        	updateTime
        ) values(
        	#{userName},
        	#{password},
        	#{phone},
        	#{name},
        	#{email},
        	#{status},
        	#{log},
        	#{createTime},
        	#{updateTime}
        )  
    </insert>  
    
    <update id="updateUser" parameterType="User">  
        update user
        	<set>
        		<if test="userName !=null and userName !=''">
					userName = #{userName},
        		</if>
        		<if test="password !=null and password !=''">
					password = #{password},
        		</if>
        		<if test="phone !=null and phone !=''">
					phone = #{phone},
        		</if>
        		<if test="name !=null and name !=''">
					name = #{name},
        		</if>
        		<if test="log !=null and log !=''">
					log = #{log},
        		</if>
        		<if test="status != null ">
					status = #{status},
        		</if>
        		<if test="email !=null and email !=''">
					email = #{email},
        		</if>
        		<if test="updateTime !=null and updateTime !=''">
					updateTime = #{updateTime},
        		</if>
        		<if test="createTime !=null and createTime !=''">
					createTime = #{createTime},
        		</if>
        	</set>
        where id = #{id}   
    </update>  
    
    <delete id="deleteUserById" parameterType="int">  
        delete from user where id = #{id}  
    </delete>  
       
    <select id="getUserById" parameterType="int" resultType="User">  
        select * from user where id = #{id}  
    </select>
    
    <select id="getUserByIdAndCreator" resultType="User">
    	select * from user where id = #{id} and id = #{loginUserId}
    </select>  
       
    <select id="findAll" resultType="User">  
        select * from user  
    </select>  
    
    <select id="getUserByUserName" resultType="User" parameterType="string">
    	select * from user where userName = #{userName}
    </select>
    
    <select id="getUserPage" resultType="hashMap" parameterType="Page">
    	select * from user t
    	<where>
	    	<choose>
				<when test="params.nameLike!=null and params.nameLike!='' ">
					and t.name like CONCAT('%','${params.name}','%')  
				</when>
				<when test="params.name!=null and params.name!=''">
					and t.name = #{params.name}
				</when> 		
	   		</choose>
	   		<choose>
				<when test="params.userNameLike!=null and params.userNameLike!='' ">
					and t.userName like CONCAT('%','${params.userName}','%')  
				</when>
				<when test="params.userName!=null and params.userName!=''">
					and t.userName = #{params.userName}
				</when>
	   		</choose>
	   		<choose>
				<when test="params.emailLike!=null and params.emailLike!='' ">
					and t.email like CONCAT('%','${params.email}','%')  
				</when>
				<when test="params.email!=null and params.email!=''">
					and t.email = #{params.email}
				</when>
	   		</choose>
	   		<if test="params.phone!=null and params.phone !=''">
	 			and t.phone = #{params.phone}
	   		</if>
	   		<if test="params.status!=null and params.status !=''">
	    		and t.status = #{params.status}
	   		</if>
	   		<if test="params.createTimeFrom !=null and params.createTimeFrom !=''" >
	   			<![CDATA[ and t.createTime >= #{params.createTimeFrom} ]]>
	   		</if>
	   		<if test="params.createTimeTo !=null and params.createTimeTo!=''" >
	   			<![CDATA[ and t.createTime <= #{params.createTimeTo} ]]>
	   		</if>
   		</where>
   		order by t.id desc
    </select>
</mapper>  