<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.module.product.dao.ProductDao">
	
    <select id="getProductPage" resultType="hashMap" parameterType="Page">
    	select * from product t
    	<where>
	    	<choose>
				<when test="params.skuLike!=null and params.skuLike!='' ">
					and t.sku like CONCAT('%','${params.sku}','%')  
				</when>
				<when test="params.sku !=null and params.sku !=''">
					and t.sku = #{params.sku}
				</when>
	   		</choose>
	   		<choose>
				<when test="params.spuLike!=null and params.spuLike!='' ">
					and t.spu like CONCAT('%','${params.spu}','%')  
				</when>
				<when test="params.spu!=null and params.spu!=''">
					and t.spu = #{params.spu}
				</when>
	   		</choose>
	   		
   			<choose>
	   			<when test="params.productNameQuery !='' and params.productNameQuery == 'nameCn' ">
	   				<choose>
						<when test="params.productNameValueLike!=null and params.productNameValueLike!='' ">
							and t.nameCn like CONCAT('%','${params.productNameValue}','%')  
						</when>
						<when test="params.productNameValue!=null and params.productNameValue!=''">
							and t.nameCn = #{params.productNameValue}
						</when>
	   				</choose>
				</when>
				<when test="params.productNameQuery !='' and params.productNameQuery == 'nameEn' ">
					<choose>
						<when test="params.productNameValueLike!=null and params.productNameValueLike!='' ">
							and t.nameEn like CONCAT('%','${params.productNameValue}','%')  
						</when>
						<when test="params.productNameValue!=null and params.productNameValue!=''">
							and t.nameEn = #{params.productNameValue}
						</when>
	   				</choose>
				</when>
 			</choose>
	   		
	   		<if test="params.productUserQuery != null and params.productUserQuery !='' and params.userSelect != ''">
	   			<choose>
					<when test="params.productUserQuery == 'creator'">
						and t.creatorId = ${params.userSelect}
					</when>
					<when test="params.productUserQuery == 'editor' ">
						and t.editorId = #{params.userSelect}
					</when>
					<when test="params.productUserQuery == 'publishUser' ">
						and t.publishUserId = #{params.userSelect}
					</when>
		   		</choose>
	   		</if>
	   		<if test="params.auditStatus!=null and params.auditStatus !=''">
	    		and t.auditStatus = #{params.auditStatus}
	   		</if>
	   		<if test="params.createTimeFrom !=null and params.createTimeFrom !=''" >
	   			<![CDATA[ and t.createTime >= #{params.createTimeFrom} ]]>
	   		</if>
	   		<if test="params.createTimeTo !=null and params.createTimeTo!=''" >
	   			<![CDATA[ and t.createTime <= #{params.createTimeTo} ]]>
	   		</if>
   		</where>
   		order by t.id desc
    </select>
	
</mapper>